body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #333;
  padding: 16px;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
#logo-container {
  height: 80px;
  /* position: absolute; */
  /* top: 16px;
  left: 16px; */
  max-width: 375px;
  width: 100%;
  display:block;
}
#logo-container img {
  width: 100%;
}
/* #welcome-container {
  display: flex;
  justify-content: center;
} */
button {
  border-radius: 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 16px 24px;
  cursor: pointer;
}
.filled {
  background: #333;
  color: white;
  border: 0;
}
input[type="submit"] {
  width: 100%;
  border-radius: 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 16px 24px;
  cursor: pointer;
  background: #333;
  color: white;
  border: 0;
}
.outline {
  background: white !important;
  color: #333 !important;
  border: 2px solid #333 !important;
}
input[type="text"], input[type="password"], input[type="email"] {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  border: solid 2px #e0e0e0;
  border-radius: 8px;
  outline: none;
  padding: 12px;
  width: 100%;
  margin-top: 12px;
}
.round-box {
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.12);
}

main {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 580px;
  margin: 32px auto 0 auto;
  max-width: 904px;
}
@media (max-width: 720px) {
  main {
    flex-direction: column;
    height: auto;
  }
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-image: url("/static/img/bg-tile.png");
}
.bg {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  /* width: 100%; */
  width: 1200px;
  height: 100%;
}
.bg-item {
  height: 180px;
  width: 180px;
  position: absolute;
  background-size: cover;
}
.bg-01 {
  margin-left: 13%;
  top: 140px;
  background-image: url("/static/img/circle.png");
}
.bg-02 {
  margin-left: 40%;
  top: 130px;
  background-image: url("/static/img/cross.png");
  transform: rotate(-20deg);
}
.bg-03 {
  margin-left: 72%;
  top: 80px;
  background-image: url("/static/img/circle.png");
}
.bg-04 {
  margin-left: 7%;
  top: 430px;
  background-image: url("/static/img/cross.png");
  transform: rotate(-70deg);
}
.bg-05 {
  margin-left: 42%;
  top: 415px;
  background-image: url("/static/img/circle.png");
}
.bg-06 {
  margin-left: 74%;
  top: 478px;
  background-image: url("/static/img/cross.png");
  transform: rotate(-33deg);
}
.bg-07 {
  margin-left: 9%;
  top: 774px;
  background-image: url("/static/img/circle.png");
}
.bg-08 {
  margin-left: 46%;
  top: 738px;
  background-image: url("/static/img/cross.png");
  transform: rotate(35deg);
}
.bg-09 {
  margin-left: 75%;
  top: 813px;
  background-image: url("/static/img/circle.png");
}
