{% extends 'base.html' %} {% block title %}Tic Tac Toe{% endblock %} {% block
imports %}
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
{% endblock %} {% block content %}
<script>
  var room = "{{room}}";
  var name = "{{name}}";
</script>
<script src="/static/gamePageScript.js"></script>
<div id="logo-container">
  <img src="/static/img/logo-ttt.png" alt="logo" />
</div>
<div class="columns">
  <div class="game-container round-box">
    <div id="game-board" class="">
      <div class="tile-row">
        <div class="tile cross" id="tile-01"></div>
        <div class="tile empty" id="tile-02"></div>
        <div class="tile empty" id="tile-03"></div>
      </div>
      <div class="tile-row">
        <div class="tile circle" id="tile-04"></div>
        <div class="tile circle" id="tile-05"></div>
        <div class="tile empty" id="tile-06"></div>
      </div>
      <div class="tile-row">
        <div class="tile cross" id="tile-07"></div>
        <div class="tile empty" id="tile-08"></div>
        <div class="tile empty" id="tile-09"></div>
      </div>
    </div>
    <h1 id="game-text" class="hidden">
      Are you ready?
    </h1>
    <button id="ready-button" class="filled hidden">Status: Not Ready</button>
  </div>
  <div class="side">
    <div id="stats" class="round-box">

    </div>
    <div id="chat" class="round-box">
      <input type="text" id="message" placeholder="Enter a Message" />
      <ul id="chat"></ul>
    </div>
  </div>
</div>
<h1>Welcome to the Game, {{name}}!</h1>
<button id="ping-room" class="filled">Ping!</button>
<h2>current room: {{room}}</h2>
<p id="opponent-ready-status">Opponent: Not Ready</p>
<button id="team-toggle" class="filled">X Team</button>
<div id="bg-container">
</div>
{% endblock %}