{% extends 'base.html' %} {% block title %}Tic Tac Toe{% endblock %}

{% block imports %}
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}" />
{% endblock %}

{% block content %}
<script>
  var room = "{{room}}";
  var name = "{{name}}";
</script>
<script src="/static/gamePageScript.js"></script>
<main>
  <div class="game-container round-box">
    <div id="game-board" class="hidden">
      <div id="turn-overlay" class="">
        <h2>It's the opponets turn</h2>
      </div>
      <div class="tile-row">
        <div class="tile empty" id="tile-01"></div>
        <div class="tile empty" id="tile-02"></div>
        <div class="tile empty" id="tile-03"></div>
      </div>
      <div class="tile-row">
        <div class="tile empty" id="tile-04"></div>
        <div class="tile empty" id="tile-05"></div>
        <div class="tile empty" id="tile-06"></div>
      </div>
      <div class="tile-row">
        <div class="tile empty" id="tile-07"></div>
        <div class="tile empty" id="tile-08"></div>
        <div class="tile empty" id="tile-09"></div>
      </div>
    </div>
    <h1 id="game-text" class="">
      Are you ready?
    </h1>
    <button id="ready-button" class="filled">Ready!</button>
  </div>
  <div class="side">
    <div id="stats" class="round-box">
      <div class="room-block">
        <div class="room-name">
          <small>Room:</small>
          <h2>{{room}}</h2>
        </div>
        <div id="share-button">
          <div class="share-icon">

          </div>
          <!-- <img src="/static/img/copy-icon.png" alt="copy-icon"> -->
        </div>
      </div>
      <div class="players">
        <div class="player-column" id="stats-player">
          <small class="turn-indicator">You:</small>
          <p class="red">Empty</p>
          <h1>0</h1>
        </div>
        <div class="player-column" id="stats-opponent">
          <small>Opponent:</small>
          <p class="green">Empty</p>
          <h1>0</h1>
        </div>
      </div>
    </div>
    <div id="chat" class="round-box">
      <div class="gradient" id="grd-top"></div>
      <div class="gradient hidden" id="grd-bottom"></div>
      <input type="text" id="message" placeholder="Message..." />
      <div id="messages">
      </div>
    </div>
  </div>
</main>

<div id="bg-container">
</div>
{% endblock %}