<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <title>GameApp</title>
  </head>
  <body>
    <script>
      var room = "{{room}}";
    </script>
    <script src="/static/gamePageScript.js"></script>
    <h1>The Game Page!</h1>
    <button id="ping-room">Ping!</button>
    <h2>current room: {{room}}</h2>
    <p>Say hello to chat:</p>
    <input type="text" id="message" placeholder="Enter a Message" />
    <p id="chat">No messages</p>
  </body>
</html>
