{% extends 'base.html' %} {% block title %} Tic Tac Toe {% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
{%endblock %}

{% block content %}
<script>
  var room = "{{room}}";
  var username = "{{username}}";
</script>
<div class="welcome round-box">
  <h1>Hello!</h1>
  <p>
    Wanna play Tic Tac Toe? <br />
    Join a lobby or create one and share it with friends.
  </p>
  <form action="/" method="post">
    <div class="text-input-container">
      <label for="name-input">Username</label>
      <input type="text" id="name-input" name="name" required minlength="1" maxlength="16" />
    </div>
    <div class="text-input-container">
      <label for="room-input">Room</label>
      <input type="text" id="room-input" name="room" maxlength="16" />
    </div>
    <!-- <button id="join-btn" class="filled">Join</button>
        <button id="create-btn" class="outline">Create</button> -->
    <input class="filled" type="submit" name="join" value="Play" />
    <!-- <input class="outline" type="submit" name="create" value="Create" /> -->
  </form>
  {% if current_user and current_user.is_authenticated %}
  <small>You are logged in as {{username}}! <br> <a href="logout">Log out</a> or <a href="change Username">change Username</a></small>
  {% else %}
  <small>Want to keep your name? <a href="login">Log in</a> or <a href="register">Register</a></small>

  {% endif %}
</div>
<div id="bg-container">
  <div class="bg">
    <div class="bg-item bg-01"></div>
    <div class="bg-item bg-02"></div>
    <div class="bg-item bg-03"></div>
    <div class="bg-item bg-04"></div>
    <div class="bg-item bg-05"></div>
    <div class="bg-item bg-06"></div>
    <div class="bg-item bg-07"></div>
    <div class="bg-item bg-08"></div>
    <div class="bg-item bg-09"></div>
  </div>
</div>
<script src="/static/landingPageScript.js"></script>
{% endblock %}